<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <form method="POST">
        <textarea name="user_input" id="user_input" placeholder="Enter text for sentiment analysis">{{ user_input }}</textarea>
        <button type="submit">Analyze</button>
        <button type="submit" name="reset">Clear</button>
    </form>
    <p id="result">Result: {{ result }}</p>
    <script>
        function clearFields() {
            document.getElementById('user_input').value = '';
            document.getElementById('result').innerText = ''; 
        }
    </script>
</body>
</html>